/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --main-color: #ff9f0d;
    --text-color: #fff;
    --other-color: #212121;
    --second-color: #9e9e9e;
    --bg-color: #111111;

    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
}

/* Header */
.header_area {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 14%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 33px;
    font-weight: 700;
}

.logo i {
    vertical-align: middle;
    color: var(--main-color);
    margin-right: 8px;
}

#checkbox {
    display: none;
}

#menu_checkbox {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.nav_links {
    display: flex;
}

.nav_links a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: all .50s ease;
}

.nav_links a:hover {
    color: var(--main-color);
}

.nav_links a.active {
    color: var(--main-color);
}


.nav_icon {
    display: flex;
    align-items: center;
    background: var(--main-color);
    padding: 9px 15px;
    border-radius: 3rem;
}

.nav_icon i {
    color: var(--bg-color);
    margin-right: 8px;
    margin-left: 6px;
    vertical-align: middle;
    font-size: 23px;
    cursor: pointer;
    transition: all .50s ease;
}

.nav_icon i:hover {
    color: var(--text-color);
    transform: scale(1.1);
}

/* _____Home______ */
section {
    padding: 70px 14% 60px;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    transition: all .50s ease;
}

.home_text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    margin-bottom: 30px;
}

.home_text span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 13px 35px;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    border-radius: 3rem;
    transition: all .50s ease;
}

.btn:hover {
    color: var(--bg-color);
    background: var(--main-color);
}

.btn i {
    font-size: 22px;
    vertical-align: middle;
    margin-left: 8px;
}

.btn2 {
    display: inline-block;
    color: var(--main-color);
    margin-left: 30px;
    font-size: var(--p-font);
    font-weight: 500;
    border-bottom: 2px solid var(--main-color);
    transition: all .50s ease;
}

.btn2:hover {
    transform: scale(1.1) translateX(12px);
}

.home_img img {
    width: 100%;
    height: auto;
}

/* ======Container Section========= */
.container {
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2rem
}

.container_box {
    padding: 43px;
    background: var(--other-color);
    border-radius: 3rem;
}

.container_box img {
    width: 100%;
    max-width: 50px;
    height: auto;
    transition: all 0.7s ease;
}

.container_box img:hover {
    transform: rotate(360deg) scale(1.2);
}

.container_box h3 {
    font-size: 21px;
    font-weight: 700;
    margin: 16px 0;
}

.container_box a {
    color: var(--second-color);
    font-size: var(--p-font);
    letter-spacing: 1px;
    transition: all .50s ease;
}

.container_box a:hover {
    color: var(--main-color);
}

/* ======About Section======== */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.about_img img {
    width: 100%;
    height: auto;
}

.about_text h2 {
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 2rem;
}

.about_text p {
    color: var(--second-color);
    line-height: 30px;
    margin-bottom: 2rem;
}